.SimSmoothScroller_outerWrapper {
	height: inherit;
	max-height: inherit;
	min-height: inherit;
	overflow: hidden;
	display: flex;
}

.SimSmoothScroller_innerWrapper {
	width: 100%;
}

#myDiv {
	background-color: lightgreen;
	width: 400px;
}

.SimSmoothScroller_scrollbar {
	height: 100%;
	flex-shrink: 0;
	padding: 1px;
	background: rgba(0, 0, 0, 0.06);
}

.SimSmoothScroller_scrollbarThumb {
	background-color:rgba(0, 0, 0, 0.06);
    	border: 1px solid #546E7A;
	box-sizing: border-box;
}

.SimSmoothScroller_scrollbarThumb:hover, .SimSmoothScroller_scrollbarThumb_hover {
	background: rgba(255, 255, 255, 0.55);
}
